<%- include("header.ejs")%>
<link href="https://cdn.jsdelivr.net/npm/notyf@3/dist/notyf.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    .material-symbols-outlined {
  font-size: 48px; /* Adjust the font-size to change the icon size */
  height: 64px; /* Adjust the height as desired */
  width: 64px; /* Adjust the width as desired */
}
</style>
<%- include("partials/navbar.ejs")%>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Order Confirmation</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          
            <span class="material-symbols-outlined" >
                production_quantity_limits
                </span>
         
          <h2 class="display-3 text-danger">Payment failed!</h2>
          <p class="lead mb-5">Ohhho there was something wrong with your payment. try again in order history</p>
		  <div class="h4 text-success my-5">Your orderId is #<%=orderData.order.orderId%></div>
          <p><a href="/profile" class="btn btn-sm btn-outline-black">Back to orders</a></p>
        </div>
      </div>
    </div>
  </div>

  <%- include("./partials/cartfooter.ejs")%>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
	</body>

</html>
